<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LMGMedication.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD5B529E2E89564F00DD14F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD5B52B22E89565000DD14F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD5B52BC2E89565000DD14F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
